
<div class="container">

  <span><b>Diretivas:</b></span>
  
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" routerLinkActive="active" routerLink="class">Class</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLinkActive="active" routerLink="content">Content</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLinkActive="active" routerLink="for">For</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLinkActive="active" routerLink="if">If</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLinkActive="active" routerLink="switch">Switch</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLinkActive="active" routerLink="customizadas">Customizadas</a>
  </li>
  
</ul>
  <br>
  <div class="content-container">
    <router-outlet></router-outlet>

  </div>
  
</div>
  