.head{
  display: flex;
  align-items: center ;
  justify-content: space-between;
}

h5{
  font-size: 1.5em;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.espaco{
  margin-left: 10px;
}

.erro-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.erro-container > span{
  margin-bottom: 10px;
}

.spinner-container{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.spinner-border{
  margin: auto;
}