.upload-container{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  justify-content: flex-start;
  height: 80vh;
  width: 100%;
}

.upload-box{
  width: 90%;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.upload-box .btn{
  align-self: flex-end;
  margin-top: 20px;
}

.upload-input-container{
  width: 100%;
  margin: 0;
  padding: 0;
}

.lista-arquivos{
  margin-top: 20px;
}

.progress-container{
  margin-top: 20px;
}

