.login-container{
  height: 80vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card{
  min-width: 30%;
}

.card-body{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn{
  width: 92%;
}

.row{
  width: 100%;

}
