.container{
  margin-top: 30px;
}

.title{
  text-align: center;
  font-size: 1.3em;
  font-weight: bold;
}

.btn{
  width: 150px;
  margin-left: 10px;
}

.btn-container{
  margin: 20px 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}

.row{
  padding: 0;
}